.authBg,
.authAreaBg {
    background-image: url(../assets/images/meal-bg.png);
}
.authAreaBg {
    $breakpoint-tablet: 768px;
    @media (min-width: $breakpoint-tablet) {
        background-image: none;
    }
}
.inputShadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
